# Python cache and OS junk
__pycache__/
*.pyc
.DS_Store

# Ignore all raw point cloud binaries and data arrays globally
*.bin
*.npy

# Ignore any dataset folders in case they are added back later
dataset/
test_dataset/
